body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.navigation-list,
.address-list,
.properties-list,
.specialists-list,
.portfolio-list     {
    list-style-type: none;
}

